
<h1>Characters Marvel UCM</h1>

<div class="container-fluid">
    <div class="row"></div>
    <div class="col-md-12">
        
         <div class="card" style="width: 18rem;" *ngFor="let character of allCharacters |async">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body" {{chracter | json}}>
              <h5 class="card-title">Characters</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    </div>
  


